[Unit]
Description=uWSGI instance to serve app_flask
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/www/home_site/app
Environment="PATH=/www/home_site/app/auth/bin"
ExecStart=/www/home_site/app/auth/bin/uwsgi --ini uwsgi.ini
Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
